
<form (ngSubmit)="uploadFileToActivity()">

   <div class="row">
        <div class="col-2">
            <label class="col" for = "title">Tools Title</label>
            <input type="text" placeholder="Tool Name" id="title" name="title" [(ngModel)]="form.fileTitle">
        </div>
        <div class="col-6">
            <label for="avatar">Choose a Tool picture:</label>
            <input type="file"  id="avatar" name="avatar" (change)="onClick($event)" [(ngModel)]="form.fileToUpload" >
        </div>
        <button mdbBtn type="submit" color="primary" mdbWavesEffect >upload</button>
     </div>

</form>

<hr>

<body>

    <div class="container-fluid">
        <div class="row align-items-start">
            <div class="col" *ngFor="let photos of photoUrl;index as i" id="child">
                <mdb-card style="width: 300px">
                    <div class="view overlay waves-light"  mdbWavesEffect>
                        <!-- Card img -->
                        <img style="height: 250px; width: 300px" src="http://127.0.0.1:8000/upload/{{photoUrl[i]['ph_name']}}"  alt="Card image cap">
                        <a>
                            <div class="mask rgba-white-slight"  ></div>
                        </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                        <!--Title-->
                        <mdb-card-title>
                            <h4>{{photoUrl[i]['title']}}</h4>
                        </mdb-card-title>
                        <a (click)="removePhoto(photoUrl[i]['ph_name'])"  mdbBtn color="red" mdbWavesEffect>remove</a>
                    </mdb-card-body>
                </mdb-card>
            </div>

        </div>
    </div>

</body>
